header {
	background-image: url("/images/header.png");
	height: 300px;
	width: 100%;
}



/* example CSS from: https://www.w3schools.com/css/css_navbar.asp
	First horizontal navigation bar example
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

.navA {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navA:hover {
    background-color: #111;
}


